<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
      default-lazy-init="true">

   <context:component-scan base-package="com.yoogun.workflow.application.service" />

   <!-- Activiti config -->
   <!--
   <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
      <property name="processEngineConfiguration" ref="processEngineConfiguration" />
   </bean>

   <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
      <property name="dataSource" ref="dataSource" />
      <property name="transactionManager" ref="transactionManager" />
      <property name="jobExecutorActivate" value="false" />
      <property name="activityFontName" value="宋体" />
      <property name="labelFontName" value="宋体" />
   </bean>
   -->

   <!-- Flowable config -->
   <bean id="processEngine" class="org.flowable.spring.ProcessEngineFactoryBean">
      <property name="processEngineConfiguration" ref="processEngineConfiguration" />
   </bean>

   <bean id="processEngineConfiguration" class="org.flowable.spring.SpringProcessEngineConfiguration">
      <property name="dataSource" ref="dataSource" />
      <property name="transactionManager" ref="transactionManager" />
      <property name="asyncExecutorActivate" value="true" />
      <property name="activityFontName" value="宋体" />
      <property name="labelFontName" value="宋体" />
   </bean>

   <!-- 公共接口 -->
   <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
   <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
   <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
   <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
   <bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService" />
   <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
   <bean id="formService" factory-bean="processEngine" factory-method="getFormService" />
   <bean id="dynamicBpmnService" factory-bean="processEngine" factory-method="getDynamicBpmnService" />

   <!-- 工作流程部署器，每次启动判断流程定义文件是否修改过，是则重新部署 -->
   <bean class="com.yoogun.workflow.infrastructure.WorkflowDeployer" lazy-init="false">
      <property name="deploymentResources">
         <list>
            <value>WEB-INF/bpmns/*.bpmn20.xml</value>
         </list>
      </property>
   </bean>

</beans>